<form class="form-horizontal" role="form">

  <h3 id="fakta"><span class="glyphicon glyphicon-list-alt"></span> Fakta</h3>

  <!-- Navn -->
  {{#formgroup "Navn" 4}}
    {{#forminput "navn" id "text" "Hyttenavn"}}{{cabin.navn}}{{/forminput}}
  {{/formgroup}}

  <!-- Navn Alt -->
  {{#formgroup "Alt. navn" 4}}
    {{#each cabin.navn_alt}}
      <div class="input-group form-control-static">
        <span class="input-group-addon">{{ @index }}</span>
        {{#forminput "navn_alt[]" id "text" "Alternativt navn"}}{{ this }}{{/forminput}}
        <span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></span>
        <span class="input-group-addon"><span class="glyphicon glyphicon-minus"></span></span>
      </div>
    {{else}}
      <div class="input-group form-control-static">
        <span class="input-group-addon">0.</span>
        {{#forminput "navn_alt[]" id "text" "Alternativt navn"}}{{/forminput}}
        <span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></span>
        <span class="input-group-addon"><span class="glyphicon glyphicon-minus"></span></span>
      </div>
    {{/each}}

    {{#formhelp 6}}Alternative stavemåter og/eller feilstavinger.{{/formhelp}}

  {{/formgroup}}

  <!-- Beskrivelse -->
  {{#formgroup "Beskrivelse"}}
    {{#formtext "beskrivelse" id 20}}{{{ cabin.beskrivelse }}}{{/formtext}}
  {{/formgroup}}

  <!-- Adkomst -->
  {{#formgroup "Adkomst"}}
  <ul class="nav nav-tabs">
    <li class="active"><a href="#gsommer" data-toggle="tab">Generell sommer</a></li>
    <li><a href="#gvinter" data-toggle="tab">Generell vinter</a></li>
    <li><a href="#ksommer" data-toggle="tab">Kollektiv sommer</a></li>
    <li><a href="#kvinter" data-toggle="tab">Kollektiv vinter</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="gsommer">
      {{#formtext "adkomst.generell.sommer" id 5}}{{{ cabin.adkomst.sommer }}}{{/formtext}}
    </div>
    <div class="tab-pane" id="gvinter">
      {{#formtext "adkomst.generell.vinter" id 5}}{{{ cabin.adkomst.vinter }}}{{/formtext}}
    </div>
    <div class="tab-pane" id="ksommer">
      {{#formtext "adkomst.generell.sommer" id 5}}{{{ cabin.adkomst.sommer }}}{{/formtext}}
    </div>
    <div class="tab-pane" id="kvinter">
      {{#formtext "adkomst.generell.vinter" id 5}}{{{ cabin.adkomst.vinter }}}{{/formtext}}
    </div>
  </div>
  {{/formgroup}}

  <h3 id="kontakt"><span class="glyphicon glyphicon-comment"></span> Kontaktinfo</h3>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#c0">I sesong</a>
        </h4>
      </div>
      <div id="c0" class="panel-collapse collapse in">
        <div class="panel-body">

          <!-- Kontaktperson -->
          {{#formgroup "Kontaktperson" 4}}
            {{#forminput "privat.kontaktinfo.i_sesong.kontaktperson" id "text" "Kontaktperson"}}
              {{cabin.privat.sherpa2_id}}
            {{/forminput}}
            {{#formhelp 6}}Navn på kontaktperson.{{/formhelp}}
          {{/formgroup}}

          <!-- Adresse -->
          {{#formgroup "Adresse" 4}}
            {{#forminput "privat.kontaktinfo.i_sesong.adresse" id "text" "Adresse"}}
              {{privat.kontaktinfo.i_sesong.adresse}}
            {{/forminput}}
            {{#formhelp 6}}Postadresse med postnummer.{{/formhelp}}
          {{/formgroup}}

          <!-- Mobil -->
          {{#formgroup "Mobiltelefon" 4}}
            {{#forminput "privat.kontaktinfo.i_sesong.mobil" id "text" "Mobiltelefon"}}
              {{privat.kontaktinfo.i_sesong.mobil}}
            {{/forminput}}
          {{/formgroup}}

          <!-- Telefon -->
          {{#formgroup "Telefon" 4}}
            {{#forminput "privat.kontaktinfo.i_sesong.telefon" id "text" "Telefon"}}
              {{privat.kontaktinfo.i_sesong.telefon}}
            {{/forminput}}
          {{/formgroup}}

          <!-- Fax -->
          {{#formgroup "Fax" 4}}
            {{#forminput "privat.kontaktinfo.i_sesong.fax" id "text" "Fax"}}
              {{privat.kontaktinfo.i_sesong.fax}}
            {{/forminput}}
          {{/formgroup}}

          <!-- Epost -->
          {{#formgroup "Epost" 4}}
            {{#forminput "privat.kontaktinfo.i_sesong.epost" id "text" "Epost"}}
              {{privat.kontaktinfo.i_sesong.epost}}
            {{/forminput}}
          {{/formgroup}}

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#c1">Utenom sesong</a>
        </h4>
      </div>
      <div id="c1" class="panel-collapse collapse">
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>

  <h3 id="åpningstider"><span class="glyphicon glyphicon-time"></span> Åpningstider</h3>
  <h3 id="senger"><span class="glyphicon glyphicon-home"></span> Senger</h3>
  <h3 id="bilder"><span class="glyphicon glyphicon-picture"></span> Bilder</h3>
  <h3 id="teknisk"><span class="glyphicon glyphicon-cog"></span> Teknisk</h3>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <h3>Geografi <small>geografisk informasjon</small></h3>
    </div>
  </div>

  {{#formgroup "SSR ID" 1}}
    <p class="form-control-static">{{ cabin.ssr_id }}</p>
  {{/formgroup}}

  {{#formgroup "Kommune" 2}}
    <p class="form-control-static">{{ cabin.kommune }}</p>
  {{/formgroup}}

  {{#formgroup "Fylke" 2}}
    <p class="form-control-static">{{ cabin.fylke }}</p>
  {{/formgroup}}

  {{#formgroup "Koordinater"}}
    <div class="row">
      {{#each cabin.geojson.coordinates}}
        <div class="col-xs-3">
          <span class="form-control">{{ this }}</span>
        </div>
      {{/each}}
    </div>
  {{/formgroup}}

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <h3>Teknisk <small>teknsikse detaljer</small></h3>
    </div>
  </div>

  {{#formgroup "Lisens" 2}}
    {{{selectLicense cabin.lisens}}}
  {{/formgroup}}

  {{#formgroup "Status" 2}}
    {{{selectStatus cabin.status}}}
  {{/formgroup}}


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Lagre</button>
    </div>
  </div>
</form>

