<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.desc }}">
  <meta name="author" content="{{ site.author }}">

  <title>{{ title }}</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="//cdn.oesmith.co.uk/morris-0.4.3.min.css" rel="stylesheet">
  <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
  {{> nav}}
  <div class="container">
    {{{ content }}}
  </div>
  <hr />
  <div class="container">
    <footer id="footer">
      {{> footer}}
    </footer>
  </div>
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
  {{#each scripts }}<script src="{{ . }}" type="text/javascript"></script>{{/each }}
</body>
</html>
