<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{title}}</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/login.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <form class="form-signin" role="form" method="post" action="/login">
      <h2 class="form-signin-heading">Please sign in</h2>
      {{#if error}}<div class="alert alert-danger">{{ error }}</div>{{/if}}
      <input type="text" name="username" class="form-control" placeholder="Email address" required autofocus>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <label class="checkbox">
        <input type="checkbox" name="remember" value="remember-me"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</body>
</html>

