body {
  padding-top: 60px;
}

form h3 {
  padding-top: 60px;
}

.thumbnail .crop {
  height: 160px;
  overflow: hidden;
}

.thumbnail .crop img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

